{% load static %}
<html>
	<head>
		<link rel="stylesheet" type = 'text/css' href="{% static 'task_scheduler/css/base.css' %}">	
		<title>
		{% block title%}
		{% endblock %}
		</title>	
	</head>
	<body>
		<div class="topnav">
  			<a class="active" href="{% url 'main_page' %}">Главная</a>
  			<a href="#">Здесь</a>
  			<a href="#">Могло</a>
  			<a href="#">Быть</a>
  			<a href="#">Что-то</a>	  
			{% if user.is_authenticated %}
			  	<a class="active" style="float:right" href="{% url 'logout' %}">Выйти</a>
			  	<a class="disabled" style="float:right">{{user.username}}</a>
			{% else %}
				<a class="active" style="float:right" href="{% url 'login' %}">Войти</a>
	   		{% endif %}
		</div>
		{% block content %}
		{% endblock %}
	</body>
</html>
