{% load static %}
<html>
	<head>
		<link rel="stylesheet" type = 'text/css' href="{% static 'task_scheduler/css/base.css' %}">	
		<title>
		{% block title%}
		{% endblock %}
		</title>	
	</head>
	<body>
		<ul>
  			<li><a class="active" href="{% url 'main_page' %}">Главная</a></li>
  			<li><a href="#news">News</a></li>
  			<li><a href="#contact">Contact</a></li>
  			<li><a href="#about">About</a></li>		  
			<li style="float:right">
			{% if user.is_authenticated %}
			  	<a class="active" href="logout">Выйти</a>
			{% else %}
				<a class="active" href="login">Войти</a>
	   		{% endif %}
			</li>
			<li style="float:right">
			{% if user.is_authenticated %}
				<a class="disabled">{{user.username}}</a>
			{% endif %}
			</li>
		</ul>
		{% block content %}
		{% endblock %}
	</body>
</html>
